// Fonts definitions.
$font__family--roboto: 'Roboto', sans-serif;

// Fonts utilities
$font__type--default: $font__family--roboto;
$font__type--monospaced: $font__family--roboto;
$font__type--icon: $font__family--roboto;

// Font weights.
$font__weight--light: 300;
$font__weight--regular: 400;
$font__weight--bold: 700;
