
body {
    font-family: $font__type--default;
    color: $color__brand-blue;
}

// Navegation
.navbar {
    background: $color__brand-blue;
}
.navbar-menu {
    @include typography--font(14px, 'roboto', $font__weight--bold, 19px);

    height: 90px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: $color__white;

    a {
        color:$color__white;
        &:hover {
            background: $color__brand-blue;
            color: $color__brand-soft-brown;
        }
    }  
}
.navbar-brand {
    a,
    &:hover {
        background: $color__brand-blue; 
    }
    .navbar-item {
        background: $color__brand-blue;
        img {
            max-height: 48px;
        }
    }
}

.navbar-start {
    padding-right: $column-gap * 2;
}

.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
    background: $color__brand-blue;
    &:hover {
        background: $color__brand-blue;
    }
}
.navbar-link {
    &::after {
        border-color: $color__white;
    }
}
.navbar-dropdown {
    background: $color__brand-blue;
    border: 0;

    a.navbar-item {
        background: none;
        color: $color__white;
        &:hover {
            background: none;
            color: $color__brand-soft-brown;
        }
    }
}

//Hero 
.hero {
    background: url(../images/city-ledgerium.png) center / cover $color__black;

    .navbar {
        background: $color__brand-blue;
    }
    h1 {
        color: $color__white;

        &.title {
            @include typography--font(46px, 'roboto', $font__weight--light, 60px);
        } 
    }
    .tile {
        a {
            color: $color__brand-soft-brown;
            &:hover {
                color: $color__brand-brown;
            } 
        }
    }
    .down-arrow {
        position: relative;
        bottom: $column-gap * 2;
    }
}

// Footer

.footer {
    background: $color__brand-dark-blue;
    color: $color__white;

    a {
        color: $color__brand-soft-brown;
        &:hover {
            color: $color__brand-brown;
        }
    }

    .twitter-feed {
        p {
            margin-bottom: $column-gap * 2;
        }
    }

    h4 {
        @include typography--font(14px, 'roboto', $font__weight--bold, 19px);

        height: 20px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        color: $color__brand-soft-brown;
        margin-bottom: $column-gap * 4;
    }
}
