
body {
    font-family: $font__type--default;
    color: $color__brand-blue;
}

// Navegation
.navbar {
    background: $color__brand-blue;
}
.navbar-menu {
    @include typography--font(14px, 'roboto', $font__weight--bold, 19px);

    height: 90px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: $color__white;

    a {
        color:$color__white;
        &:hover {
            background: $color__brand-blue;
            color: $color__brand-soft-brown;
        }
    }  
}
.navbar-brand {
    a,
    &:hover {
        background: $color__brand-blue; 
    }
    .navbar-item {
        background: $color__brand-blue;
        img {
            max-height: 48px;
        }
    }
}

.navbar-start {
    padding-right: $column-gap * 2;
}

.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link {
    background: $color__brand-blue;
    &:hover {
        background: $color__brand-blue;
    }
}
.navbar-link {
    &::after {
        border-color: $color__white;
    }
}
.navbar-dropdown {
    background: $color__brand-blue;
    border: 0;

    a.navbar-item {
        background: none;
        color: $color__white;
        &:hover {
            background: none;
            color: $color__brand-soft-brown;
        }
    }
}

//Hero 
.hero {
    background: url(../images/city-ledgerium.png) center / cover $color__black;
    overflow: hidden;

    .navbar {
        background: $color__brand-blue;
    }
    h1 {
        color: $color__white;

        &.title {
            @include typography--font(46px, 'roboto', $font__weight--light, 60px);
        } 
    }
    .tile {
        a {
            color: $color__brand-soft-brown;
            &:hover {
                color: $color__brand-brown;
            } 
        }
    }
    .down-arrow {
        position: relative;
        bottom: $column-gap * 2;
    }
}

// Titles
.section-title {
    color: $color__brand-dark-blue;
    letter-spacing: 8.56px;
    text-transform: uppercase;

    @include typography--font(24px, 'roboto', $font__weight--bold, 32px);
}


// Tabs 

.tabs {
    color: $color__brand-dark-blue;
    font-size: 20px;
	letter-spacing: 3px;
    text-transform: uppercase;

    @include typography--font(20px, 'roboto', $font__weight--bold, 26px);
}

// Footer

.footer {
    background: $color__brand-dark-blue;
    color: $color__white;

    a {
        color: $color__brand-soft-brown;
        &:hover {
            color: $color__brand-brown;
        }
    }

    .twitter-feed {
        p {
            margin-bottom: $column-gap * 2;
        }
    }

    h4 {
        height: 20px;
        letter-spacing: 3.2px;
        text-transform: uppercase;
        color: $color__brand-soft-brown;
        margin-bottom: $column-gap * 4;

        @include typography--font(14px, 'roboto', $font__weight--bold, 19px);
    }
}

// Pages
.text-container {
    position: relative;
    width: 100%;
}
.super-big {
    height: 160px;
    letter-spacing: -1.67px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    bottom:-35px;
    position: absolute;
    width: 100%;
    
    @include typography--font(120px, 'roboto', $font__weight--bold, 160px);
}

.photo-profile {
    position: relative;

    a {
        position: absolute;
        z-index: 1;
        right: $column-gap;
        height: 76px;
        width: 76px;
        background: $color__white;
        color: $color__brand-blue;

        &:hover {
            color: $color__brand-soft-brown;
        }
    }
}

.social-icons a {
    color: $color__brand-dark-blue;
    text-decoration: none;
}

.fa {
    font-size: 3em;
    padding: 0.3em 0.36em;
}

.fa-linkedin {
    background-color: $color__white;
}

.fa-linkedin:hover {
    background-color: $color__white;
}

// About us

.about-us {
    .down-arrow {
        bottom: $column-gap * 16;
    }
}

// Timeline

.timeline {
    display: flex;
    flex-direction: column;

    &.is-centered {
        width: 50%;
        align-self: flex-end;
        margin: auto;
    }

    .timeline-content {
        text-align: center;
        padding: 1rem 3rem;
        h2,
        p {
            width: 100%;
        }
    }

    .timeline-marker{
        background: white;
        border: 2px solid;
        width: 40px;
        height: 40px;
        position: absolute;
        border-radius: 50%;
    }


    .timeline-item {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        position: relative;
        align-self: flex-end;
        width: 50%;
        &::before {
            content: "";
            background-color: $color__brand-dark-blue;
            display: block;
            width: .1em;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:last-child::before {
            background: $color__white;
        }

        &:nth-of-type(2n) {
            align-self: flex-start;
            margin-left: 0;

            .timeline-marker{
                right: -20px ;
            }

            .timeline-content {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                flex-basis: 100%;
            }
            
            &::before {
                right: -0.1em;
                left: auto; 
            }
        }
        &:nth-of-type(2n+1) {
            &::before {
                content: "";
                background-color: $color__brand-dark-blue;
                display: block;
                width: .1em;
                height: 100%;
                position: absolute;
                top: 0;
            }
            .timeline-marker{
                left: -20px;
            }
        }
    }
}
